.popup {
  flex-direction: column;
  width: 140px;
  height: 200px;
  border: 2px solid;
  background-color: white;
  padding: 10px;
  /*color: #bdc2c5;*/
  position:absolute;
  left:40%;
  top:50%;
}
.arrow-back, .arrow-forward{
	opacity:0.9;
	background-color:black;
	color:white;
	cursor:pointer;
}
